<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>welcome to <strong>Game-Review</strong>  !!</h1>

      <p>このサイトは、自由にゲームの感想を書きこんでいくサイトです。</p>
      <p>良い評価から悪い評価どんな内容でも構いません</p>
      <p>皆さんの評価をぜひお聞かせください！</p>
    </div>
  </div>
</div>